body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
 
}

li {
    list-style-type: none;
    text-decoration: none;
}
  

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none;
    transition: opacity 0.5s ease; 
}


.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.mr{
    margin-right: 1rem;
}

.circle-header{

    transition: .4s;
}


.circle-header:hover{

    transform: scale(1.3);
}


.navBar{
    padding: 1rem;
}

.buttonBlack {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.buttonBlack:hover {
    background-color: #333; 
    transform: scale(1.05); 
}

.titleWebloo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.header-container {
    position: fixed; 
    width: 35%; 
    padding: 6rem 0;
    margin: 2rem;
    background-color: white; 
    justify-content: space-evenly;
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transform: scale(0); 
    transform-origin: center; 
    transition: transform 0.5s ease-in-out; 
    z-index: 1000; 
}

.close-container {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    cursor: pointer; 
}

.close-container img {
    display: block; 
    width: 24px; 
    height: auto; 
    transition: transform 0.5s ease; 
    cursor: pointer;
}

.close-container img:hover {
    transform: rotate(90deg); 
}

.social-links li{
    font-size: 18px;
    margin-bottom: 18px;
}
.header-container.active {
    display: flex;
    transform: scale(1); 
}

.header-links li {
    margin-bottom: 1rem;
    font-size: 38px; 
}

.header-links li:hover {
    color: #555;
   
}

.headerContainer-links {
    display: flex;
    gap: 4rem;
    flex-direction: column;
}


.beInTouch{
    color: #ABA7A7;
    font-size: 18px;
    text-decoration: none;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.email-header{
    margin: 0;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Manrope;
    margin: 0 2rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.home-title{
    font-size: 58px;
    
}

.home-paragraph{

    font-size: 16px;
    margin-top: 1rem;
}



.container-services {
    position: relative;
    height: 80vh;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backcircle-position {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backcircle {
    position: absolute;
    border: 1px solid #ECECEC;
    border-radius: 50%;
    background-color: transparent;
    z-index: -1;
    width: 50%;
    height: 90%;  
}

.service-title{
    font-size: 44px;
    font-weight: 400;
    cursor: pointer;
    
}

.backcircle2 {
    position: absolute;
    border: 1px solid #ECECEC;
    border-radius: 50%;
    background-color: transparent;
    z-index: -1;
    width: 40%;
    height: 80%;  /
}

.backcircle3 {
    position: absolute;
    border: 1px solid #ECECEC;
    border-radius: 50%;
    background-color: transparent;
    z-index: -1;
    width: 30%;
    height: 70%;  
}



.services {
    position: absolute; 
    display: flex;
    flex-direction: column;
    max-width: 483px;
    padding: 1rem;
    background-color: #F1F1F1;
    border-radius: 20px;
   
    transition: all 0.8s ease;/* Smooth shadow transition */
    cursor: pointer; /* Indicates interactivity */
}

#card1 { top: 0; left: 0; }
#card2 { top: 0; right: 0;  }
#card3 { bottom: 0; left: 0; }
#card4 { bottom: 0; right: 0; }

.container-services.centered {
  #card1 { top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; }
  #card2 { top: 50%; right: 50%; transform: translate(50%, -50%); z-index: 2; }
  #card3 { bottom: 50%; left: 50%; transform: translate(-50%, 50%); z-index: 3; }
  #card4 { bottom: 50%; right: 50%; transform: translate(50%, 50%); z-index: 4; }
}

.services:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Enhance shadow on hover for depth */
}

.container-services.centered .services:hover {
    box-shadow: none; /* Remove shadow effect on hover */
    transform: none; /* Remove any transform effect on hover */
}

/* Optional: Disable interactions on hover to mimic pointer-events: none */
.container-services.centered .services {
    pointer-events: none;
}


.title{
    margin-bottom: 2rem;
}

.service-header{
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-between; 
}

.service-id{
    position: relative;
    display: flex;
    align-items: center;
    align-items: center;
    
}



.container {
    position: relative; 
    width: 50px; 
    height: 50px;
    margin-right: 2rem;
  }
  
  .circle {
    position: absolute; 
    width: 50px;
    height: 50px;
    border-radius: 100%;
    
  }
  
  .one {
    z-index: 1; 
  
  }
  
  .two {
    z-index: 2; 
    left: 30px; 
    background-color: white;
    text-align: center; 
}

.circle img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.numbers { 
    width: 50px; 
    line-height: 50px; 
    border-radius: 50%;  
    background-color:white;
} 

.categories {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;/* Allow items to wrap to the next line */
    overflow: hidden; /* Hide all overflow content */
    max-height: 0;  /* Start fully collapsed */
    opacity: 0; /* Start fully transparent */
    visibility: hidden; /* Not interactable */
    transition: max-height 0.5s ease, opacity 2s ease, visibility 2s; /* Transition effects, adjust max-height duration for smoother effect */
}

.services:hover .categories {
    max-height: 500px; /* Adjust based on estimated max content height */
    opacity: 1; /* Full visibility */
    visibility: visible; /* Make interactable */
    transition: max-height 1s ease, opacity 0.5s, visibility 0.1s; /* Start opacity after max-height begins */
}

.category {
   
    font-size: 16px;
 
    padding: 0.5rem 2rem;
    background-color: white;
    border-radius: 2rem;
    transition: background-color 0.3s; /* Background transition for interaction */
}

.category:hover {
    background-color: #ccc; /* Change background on hover */
}

.arrow-bottom-right {
    position: absolute; 
    bottom: 10px; /* 10px from the bottom of the container */
    right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer; /* Makes the arrow clickable, assuming it's a button/link */
}

.arrow-bottom-right img {
    display: block; /* Removes any extra spacing around the image */
    width: 45px; /* Set the size of the arrow image as needed */
    height: auto; /* Maintain aspect ratio */
}


.arrow-bottom-right img {
    display: block; /* Ensures the image is treated as a block element */
    width: 45px; /* Specifies the width of the image */
    height: auto; /* Maintains the aspect ratio of the image */
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.services:hover .arrow-bottom-right img {
    transform: rotate(-42deg); /* Rotates the image 30 degrees on hover */
}


/*HomePc */

#homepc {
    padding: 2rem;
}
#homepc .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

#homepc .homepc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0 0rem 0.4rem 0;
    margin: 2rem;
    border-bottom: 2px solid #000000;
    width: 50%; 
}

#homepc .title{
    font-size: 62px;
    font-weight: 500;
    line-height: 65px;
}

#homepc .rating-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

#homepc .boxnumber{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homepc .boxnumber h2{
    font-weight: 500;
    font-size: 48px;
    margin: 0;
}

#homepc .boxnumber p{
    font-size: 12.72px;
}


#homepc .container-img {
    width: 50%; 
}

#homepc .container-img img {
    width: 100%;
    max-height: 836px; 
}

/*story */



.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.box {
    color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    cursor: pointer;
    padding: 4rem;
    transition: all 0.3s ease, background 0.3s ease;
    position: relative;
    z-index: 0;
    border: 1px solid black;
    overflow: hidden;
    max-height: 750px;
}

.active {
    z-index: 40;
    width: 70%;
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    opacity: 0; /* Overlay invisible by default */
    z-index: -1;
}

.box.active::before {
    opacity: 1; /* Overlay visible for active box */
}

.box .title-content {
    font-size: 30px;
    font-weight: 500;
}

.button-content {
    padding: 15.79px 31.58px;
    background-color: white;
    border-radius: 31px;
    outline: none;
    border: 1px solid white;
    transition: 0.3s;
}

.button-content:hover {
    transform: translatey(-5px);
}
.content-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.content-image-container .title-content{
    margin-right: 2rem;
}
.content-image-container .image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 1rem;
    border: 2px solid #5F5F5F;
}
.content-image-container .image-container1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    border: 2px solid #5F5F5F;
}

.content-image-container .image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.content-paragraph {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: start;
    width: 90%;
    font-size: 18px;
}

#box1.active, #box2.active, #box3.active, #box4.active {
    background-size: cover;
    background-position: center center;
}
#box1.active { background-image: url("story1.jpg"); }
#box2.active { background-image: url("story2.jpg"); }
#box3.active { background-image: url("story3.jpg"); }
#box4.active { background-image: url("story4.jpg"); }

.box .title h2 {
    color: black; /* Non-active titles */
}

.active .title h2 {
    color: white; /* Active titles */
}

.content {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.box.active .content {
    opacity: 1; /* Content visible when active */
}


/*success */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#success{
    width: 100%;
    height: 100%;
}

#success .container{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#success .content{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#success .content h1{
   font-size: 48px;
   font-weight: 500;
}



#success .content p{
    font-size: 20px;
    font-weight: 400;
}

#success .image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;  
    gap: 3rem;
    
}

#success .space-evenly{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
    
}

#success .space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

#success .image-container .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 111px;
    border: 1px solid #E0E0E0;
    transition: 0.3s;
    
}

#success .image-container .logo:hover{
    transform: scale(1.1);
}