.container {
    display: flex;
 
    align-items: center;
    height: 100vh;
}

.box {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.active {
    width: 300px;
    height: 100px;
    z-index: 1; 
}

#box1 { background-color: #ff6347; }
#box2 { background-color: #4682b4; }
#box3 { background-color: #32cd32; }
#box4 { background-color: #ffa500; }